.profile__subtitle {
    font-weight: 400;
    font-size: 18px;
    max-width: 336px;
    margin: 0 0 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@media screen and (max-width: 850px) {
    .profile__subtitle {
        max-width: 250px;
    }
}

@media screen and (max-width: 520px) {
    .profile__subtitle {
        max-width: 201px;
        font-size: 14px;
        line-height: 17px;
        text-align: right;
        margin: 7px 14px 0 auto;
    }
}