.profile__add-button {
    width: 150px;
    min-height: 50px;
    align-self: center;
    cursor: pointer;
    background-color: #000;
    border: 1px solid #fff;
    transition: opacity .2s ease;
    opacity: 1;
    margin: 0 0 4px auto;
}

.profile__add-button:hover {
    opacity: .6;
}

@media screen and (max-width: 1023px) {
    .profile__add-button {
        width: 100px;
    }
}

@media screen and (max-width: 770px) {
    .profile__add-button {
        width: 300px;
        margin: 29px auto 28px;
    }
}

@media screen and (max-width: 500px) {
    .profile__add-button {
        max-width: 282px;

    }
}