.popup__close-image {
    position: absolute;
    left: 100%;
    bottom: 100%;
    cursor: pointer;
    transition: opacity .2s ease;
    opacity: 1;
    padding: 8px;
}

.popup__close-image:hover {
    opacity: .6;
}

@media screen and (max-width: 540px) {
    .popup__close-image {
        padding: 0 0 16px;
        left: 92%;
        width: 20px;
        height: 20px;
    }
}