.profile__info {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    color: #fff;
}

@media screen and (max-width: 770px) {
    .profile__info {
        margin-top: 10px;
    }
}

@media screen and (max-width: 500px) {
    .profile__info {
        grid-template-columns: repeat(2, minmax(min-content, 295px));
        align-self: flex-start;
        margin-left: 30px;
    }
}